
<nav id='mobilenav'>
 <ul>
  <li><a href="#">Home</a></li>
  <li><a href="#aboutus">About Us</a></li>
  <li><a href="#">Formatting</a>
  <ul>
        <li><a href="#">Text</a>
        <ul>
        <li><a onclick="fnBlurShow()">Blur text</a></li>
        <li><a onclick="fnEmptyShow()">Empty text</a></li>
          <li><a onclick="fnFirstletterShow()">First letter</a></li>
          <li><a onclick="fnColumnsShow()">Text Columns</a></li>
          <li><a onclick="fnLastchildShow()">Last child</a></li>
           <li><a onclick="fnListShow()">List</a></li>
        </ul>
        <li><a href="#">Image</a>
        <ul>
        <li><a onclick="fnImageborderShow()">Image border</a></li>
          <li><a onclick="fnImagecircleShow()">Image Circle</a></li>
          <li><a onclick="fnImagehoverShow()">Image Hover</a></li>
       </ul>
  </ul>
  </li>
  <li><a href="#">Others</a>
  <ul>
        <li><a onclick="fnTriangleShow()">Talk Bubble</a></li>
        <li><a onclick="fnButtonShow()">Button</a></li>
        <li><a onclick="fnBoxesShow()">3-Boxes</a></li>
        <li><a onclick="fnRibbonShow()">Ribbon</a></li>
  </ul>
  <li><a href="#">Animations</a>
  <ul>
        <li><a onclick="fnHumanfaceShow()">HumanFace</a></li>
       
  </ul>
  </li>
  <li><a href="#contactus">Contact us</a></li>
 </ul>
</nav>
