
    <div class="face">
        <a class="info">
            <div class="left-eye eye">
                <div class="eye1"></div>
            </div>
            <span id="c1">Left eye</span>
        </a>
        <a class="info">
            <div class="right-eye eye">
                <div class="eye1">
                </div>
            </div>
            <span>Right Eye</span>
        </a>
        <a class="info">
            <p class="left-nose"></p>
            <p class="right-nose"></p>
            <span>Nose</span>
        </a>
        <p class="smile">
            <svg width="150" height="150">
                <circle cx="50" cy="-10" r="40" stroke="black" stroke-width="4" fill="#b0e0e6" />
        </p>
    </div>
