.button {
	margin: 2px;
	height: 55px;
	width: 220px;
	background-color: #3366ff;
	padding: 4px;
	cursor: pointer;
	border-radius: 10px;
    box-shadow: 3px 3px 20px grey;

}

.buttonborder {
	height: 45px;
	width: 210px;
	border-radius: 5px;
	border: dashed white 2px;
	margin: auto;
}